.game-wrapper {
  background-color: white;
}

.game-wrapper .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-wrapper .row.header {
  background-color: #BDBDBD;
}

.game-wrapper .row.header .row.digits {
  margin: 0px 8px;
}

.game-wrapper .column {
  display: flex;
  flex-direction: column;
}

.game-wrapper .row .square {
  display: block;
  width: 25px;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.game-wrapper .border {
  display: block;
  max-height: 25px;
  max-width: 25px;
}

.game-wrapper .border.corner-border {
  max-height: 15px;
  max-width: 15px;
}

.smiley {
  max-width: 40px;
}

.digit {
  max-height: 40px;
}
